/* about-us.component.css */
.policy {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  .container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin: 5px 0;
    padding: 20px;
  }
  
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .team {
    display: flex;
    justify-content: center;
  }
  
  .team-member {
    text-align: center;
    margin: 10px;
  }
  
  .team-member img {
    max-width: 150px;
    border-radius: 50%;
  }
  
  .team-member h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  