<nav id="navbar" [ngClass] = "{'sticky': isSticky}">
    <div class="header a">
        
        <a href="#default" class="logo">CompanyLogo</a>

        <div class="header-left">
            <a routerLink="/homepage" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a routerLink="/products-page" routerLinkActive="active">Products</a>
            <a routerLink="/cart" routerLinkActive="active">Cart</a>
            <a href="#about">About</a>
        </div>
        <div class="header-right">
            <a class="different" routerLink="/login" routerLinkActive="active">Log In</a>
            <a class="different" routerLink="/signup" routerLinkActive="active">Sign Up</a>
            
        </div>
    </div>

</nav>
