<app-header></app-header>
<router-outlet></router-outlet>

<div class="homepage">

    <div class="intro">
      <h1>Utena Translations</h1>
      <p>Re-imagined Language Solutions</p>
    </div>


    <div class="about-me">
      <div class="about-me-text">
        <h2>Excel in the global marketplace with our translation services</h2>
        <p>We enable our clients to reach new markets globally by connecting with their audiences and providing the best possible customer experience—in any language. We’re a partner that can take you from planning to execution through our services, technology, consulting, and industry expertise. Our tailor-made solutions help you reach these new markets quickly, efficiently, effectively, and in a way that maximizes gains for your business. That’s why the world’s top companies turn to us when they want their global goals to become their worldwide achievements. </p>
      </div>
      
      <img src="https://www.transperfect.com/sites/default/files/styles/responsive_image_2000/public/media/image/girl-photo.jpg?itok=DFsSIOwN" alt="me">

      <div></div>

      
    </div>
    <div class="about-me">
      <img src="https://www.transperfect.com/sites/default/files/styles/responsive_image_2000/public/media/image/Global%20Link%20Next%20event%20image.jpg?itok=VP1RteCr">
      <div class="about-me-text">
        <h2>Automate and simplify multilingual content management with Utena Translation</h2>
        <p>With GlobalLink business solutions, cut your translation and project management costs associated with multilingual content creation and management by up to 50%. GlobalLink makes translation and localization easier and more efficient than ever before. Our technology works for you and is fully integrated with your existing systems. Manage your multilingual content seamlessly. </p>
      </div>
      
    </div>
    

    

</div>

<app-footer></app-footer>
  