<app-header></app-header>
<div class="about-us">
    <header>
      <h1>About Us</h1>
    </header>
    <div class="container">
        <section>
            <h2>Our Mission</h2>
            <p>
               Utena Translations helps global, content-rich companies with every multilingual data challenge.           
            </p>
            <h2>Our Difference</h2>
            <p>
                By leveraging data, automation, and human expertise, Utena Translations language solutions that help you do more for less.

                Our data and localization solutions are highly adaptable to our clients’ specific needs and requirements. We are often recognized by clients for our extremely versatile and unconventional thinking. We are innovation-focused and don’t shy away from a challenge.
                
                This is what helps us build lasting partnerships and solutions that grow with your business.            
            </p>
            
          </section>
      <section>
        <h2>Our Team</h2>
        <div class="team">
          <div class="team-member">
            <img src="https://media-otp1-1.cdn.whatsapp.net/v/t61.24694-24/127294748_396248741795453_5399795841821286959_n.jpg?ccb=11-4&oh=01_AdTrvXATm3x14riS3Hl8FMeVzqdjOuOgfW0GQSPhYatT8A&oe=655651DC&_nc_sid=e6ed6c&_nc_cat=111" alt="Team Member 1">
            <h3>Alexandra Cretu</h3>
            <p>Founder</p>
            <p>Designer</p>
            <p>Front-End Developer</p>
            <p>Back-End Developer</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <app-footer></app-footer>