<app-header></app-header>
<body>
<div class="product">
  
    
    <div class="intro">
      <h1>Interpretation</h1>
      <p>You may need interpreting services for multiple forums, including large conferences, informal meetings, legal proceedings, medical appointments, live interactions, and phone calls. Interpreters can substantially help participants who don't speak or understand the primary language. TransPerfect can provide in-person, video, or phone-based interpreters for your engagements to ensure a positive experience for your participants and a productive interaction for all. </p>
    </div>
    
    <div class="body">
    <h1>Interpretation Options</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="dropdown1">Select the language to be translated from:</label>
      <select formControlName="option1">
        <option [ngValue]="null" disabled>Select an option</option>
        <option *ngFor="let option of options" [ngValue]="option">{{ option }}</option>
        
      </select>
      <div *ngIf="form.get('option1')?.hasError('required') && form.get('option1')?.touched">
          <p class="error-message">Please select a language.</p>
        </div>

      <label for="dropdown2">Select the language to be translated to:</label>
      <select formControlName="option2">
        <option [ngValue]="null" disabled>Select an option</option>
        <option *ngFor="let option of options" [ngValue]="option">{{ option }}</option>
        
      </select>
      <div *ngIf="form.get('option2')?.hasError('required') && form.get('option2')?.touched">
        <p class="error-message">Please select a language.</p>
      </div>

      <label for="dropdown3">Select the time for the interpretation:</label>
      <select formControlName="option3">
        <option [ngValue]="null" disabled>Select an option</option>
        <option *ngFor="let option of timeOptions" [ngValue]="option">{{ option }}</option>
        
      </select>
      <div *ngIf="form.get('option3')?.hasError('required') && form.get('option3')?.touched">
        <p class="error-message">Please select a language.</p>
      </div>

      <div></div>

      <button type="button" (click)="calculatePrice()">Compute Price</button>
      <p class="error-message" *ngIf="!isLoggedIn">Please log in.</p>

      <div class="price-result" *ngIf="priceComputed" >
        <p>Price: {{ computedPrice | currency:'USD' }}</p>
      </div>

      <button type="submit" *ngIf="priceComputed && isLoggedIn">Submit</button>
      <div *ngIf="formSubmitted" class="success-message">
        Form submitted successfully!
      </div>
    
    </form>
    </div>
  </div>
</body>
<app-footer></app-footer>
  