<body>
    <body>
      <div class="login-page">
        <div class="form">
          <div class="login">
            <div class="login-header">
              <h3>Sign Up</h3>
              <p>Please enter your credentials to sign up.</p>
            </div>
          </div>
          <!--form [formGroup]="signupForm" class="login-form" (ngSubmit)="onSubmit()" -->
          <form class="login-form">
            <input type="text" placeholder="forename"/>
            <input type="text" placeholder="surname"/>
            <input type="text" placeholder="email"/>
            <input type="password" placeholder="password"/>
            <input type="password" placeholder="confirm password"/>
            <button>sign up</button>
          </form>
        </div>
      </div>
  </body>
</body>

<app-footer></app-footer>