<app-header></app-header>
<body>
    <section>
      <h2>User Details</h2>
      
		<label>Name:</label>
		<div class="user-info-value">{{ user?.name }}</div>

        <div></div>

		<label>Email:</label>
        <div class="user-info-value">{{ user?.email }}</div>

        <div></div>
		<label>Password:</label>
		<div class="user-info-value">{{ maskPassword(user?.password) }}</div>

        <button (click)="logout()">Logout</button>
        <button (click)="deleteAccount()">Delete My Account</button>
    </section>
    <section>
        <h2>Products</h2>
        <ul>
          <li *ngFor="let content of contentData">
            {{ content.type }}
          </li>
        </ul>
      </section>
    
</body>
<app-footer></app-footer>